<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
  </head>
  <body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js"
      integrity="sha384-LQJt2WYLVjqR6CtPmZ7RlCwSnRxagESW5PKN9LCewWq4KnCIZIQewStnUJ/KEc+w"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js"
      integrity="sha384-s7tOAUHnUBShLPptKaX9Zt4W4KPFr/mQ2TXWbxuY4TRv+7cl9zFzVPcR31MfzphO"
      crossorigin="anonymous"></script>

    <%- header %>
    <%- productsList %>
    <%- cart %>
  </body>
</html>
